.cookieconsent__button {
    border: none;
    border-radius: 2.7px;
    padding: 9px 12px;
    color: #FFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: inherit;

    &.cookieconsent__button--accept {
        background-color: #66A121;
    }

    &.cookieconsent__button--refuse {
        background-color: #7F92A6;
    }

    @include mq(medium) {
        padding: 13px 16px;
        border: 2px solid transparent;
        @include default-transition;


        &.cookieconsent__button--accept {
            &:hover {
                background-color: darken(#66A121, 5%);
            }
        }

        &.cookieconsent__button--refuse {
            &:hover {
                background-color: darken(#7F92A6, 5%);
            }
        }
    }
}
